button{
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    border-width: 0px;
}

.primary-btn{
    background-color: #3498db;
}

.secondary-btn{
    background-color: #2ecc71;
}

.success-btn{
    background-color: #27ae60;
}

.danger-btn{
    background-color: #e74c3c;
}


.button-container{
    display: flex;
    justify-content: center;
}

body{
    text-align: center;
}